extends ../layout.pug

block content
  h1.title Lista de alumnos inscritos en Epoem 53
  div.table.effect
    span | Nombre | 
    span | Apellido P. | 
    span | Apellido M. | 
    span | Municipio | 
    span | Matricula |
    span | Grado |
    span | Grupo |
  article.items
    each p in students
      div.table.effect
        strong=p.name
        strong=p.apePat
        strong=p.apeMat
        h7=p.procedenceMpio
        h7=p.numberRegister        
        h7=p.year
        h7=p.group
            
                 